.*
test
dist
coverage
bin
.babelrc
.gitignore
.editorconfig
.eslintignore
.eslintrc
.eslint.config.js
.travis.yml
.github
package-lock.json
README.md
tsconfig.json
bower.json
gulpfile.js
karma.conf.js
example